<div class="container">
  <h2 class="form-signin-heading tac">
    <img src="build/img/flickr.png" alt="flickr" class="logo-images"> +
    <img src="build/img/angularjs.png" alt="Angular" class="logo-images">
    explorer
  </h2>
  <form ng-submit="step1()" class="form-signin" ng-show="step == 1">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in on
      <i class="fa fa-flickr" aria-hidden="true"></i></button>
  </form>
  <form ng-submit="step2()" class="form-signin" ng-show="step == 2">
    <input ng-model="authCode" intNumInput id="inputCode" class="form-control" placeholder="Please put code here" required="" autofocus="">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sumbit</button>
  </form>
</div>