<div>
  <ul ng-include="'build/partials/menu.html'" class="nav nav-tabs tab--list" role="tablist"></ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <p class="user-name-string">
        <a href="#album/{{aid}}&{{atitle}}" rel='nofollow' class="color_inherit"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        {{photo.name}}
      </p>
      <div class="photo--image-wrapper" ng-bind-html="photo.imageInAllSizes"></div>
      <div class="photo--description" ng-bind-html="photo.description"></div>
    </div>
  </div>
</div>
