<div>
  <ul ng-include="'build/partials/menu.html'" class="nav nav-tabs tab--list" role="tablist"></ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="upload">
      <p class="user-name-string">Upload your photo</p>
      <div class="album--list">

        <div class="form-group">
          <label for="sel1">Select an album:</label>
          <select id="album-select" class="form-control" id="sel1" ng-model="currentAlbum" ng-change="selectAlbum()">
            <option value="" disabled selected>Please click here and select an album</option>
            <option ng-repeat="album in albums" value="{{album.aid}}">{{album.title}}</option>
          </select>
        </div>

        <div flow-init
             flow-file-added="catchFile($file)"
             flow-drop-enabled="enabled"
             ng-if="albumSelected"
        >
          <div flow-drop class="drop" ng-class="dropClass" >
            Drop files here or <span class="uline blue" flow-btn>browse</span> to upload
          </div>
          <div class="images--list" scrolly="getPhotos()">
            <div class="dib images--item"
                 ng-repeat="file in $flow.files"
            >
              <div class="images--thumb-wrapper">
                <img flow-img="file" class="images--thumb-image" alt=""/>
              </div>
              <div class="images--thumb-select-link" id="{{file.name}}">
                <img src="build/img/spinner_micro.gif" class="micro-spinner" alt=""> Loading...
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>