/*Variables*/
$red:#d10009;
$red_dark:#950009;

$blue:#337ab7;
$blue-l:#b1ddec;

$green:#007313;

$grey:#7f7f7f;
$grey-l:#d3d3d3;
$grey-ll:#efefef;
$grey-lll:#f6f6f6;

/*Base rules*/
html{
  overflow:auto;
}
body{
  padding-top:40px;
  padding-bottom:40px;
}

/*Layout rules*/
.footer{
  background-color:$grey-ll;
  padding-top:5px;
  padding-bottom:0;
  margin-bottom:-5px;
  border-top:1px solid $grey-l;
  .muted{
    margin-left:15px;
    color:$grey;
  }
}

/*Bootstrap corrections*/
.nav-tabs > li > a{
  color:$blue-l;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
  color:$blue;
}

/***************/
/*Modules rules*/
/***************/

/*Auth*/
.form-signin{
  max-width:330px;
  padding:15px;
  margin:0 auto;
}
.form-signin .form-signin-heading{
  margin-bottom:10px;
}
.form-signin .form-control{
  position:relative;
  height:auto;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  padding:10px;
  font-size:16px;
}
.form-signin .form-control:focus{
  z-index:2;
}
.form-signin input{
  margin-bottom:5px;
}
.logo-images{
  width:70px;
  display:inline-block;
}
.user-name-string{
  margin-top:10px;
  margin-bottom:10px;
  font-size:16px;
  color:$grey;
  margin-left:10px;
}

/*Tab*/
.tab--list{
  li{
    i{
      padding:0 6px;
      font-size:20px;
    }
  }
}

/*Album list*/
.album--list{
  .album--item{
    margin-top:-1px;
    border-top:1px solid $grey-l;
    border-bottom:1px solid $grey-l;
    background:$grey-lll;
    padding:5px 0;
    & > div{
      vertical-align:top;
    }
    .album--thumb-wrapper{
      width:138px;
      text-align:center;
      .album--thumb-image{
        max-height:98px;
      }
    }
    .album--details{
      padding:0 7px;
      & > h4{
        margin:5px 0;
        font-size:17px;
      }
      & > p{
        margin:0 0 5px;
        font-size:11px;
      }
    }
    .album--link-direction-wrapper{
      width:40px;
      vertical-align:middle;
      font-size:40px;
      color:$blue;
      .album--link-direction{
        position:relative;
        top:19px;
      }
    }
  }
}

/*Album View - Images list*/
.images--item{
  background-color:$grey-ll;
  border:1px solid $grey;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  margin-bottom:5px;
  margin-right:5px;
  .images--thumb-wrapper{
    background-color:$grey-lll;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    width:130px;
    height:98px;
    text-align:center;
    .images--thumb-image{
      display:inline-block;
      max-height:98px;
    }
  }
  .images--thumb-select-link{
    text-align:left;
  }
}

/*Album View - Popover*/
.popover{
  max-width:100%;
  left:15px !important;
  right:15px !important;
  background-color: rgba(0, 0, 0, 0.8);
  border:0px;
  color:$grey-ll;
  &.bottom{
    margin-top:2px;
  }
  .arrow{
    display:none;
  }
}

/*Photo Details = Popover + Photo View*/
.photo-details--table{
  font-size:12px;
  .photo-details--col1{
    width:70px;
    font-weight:bold;
    vertical-align:top;
  }
}

/*Photo View*/
.photo--image-wrapper{
  border-top:1px solid $grey-l;
  text-align:center;
  padding:10px;
  .photo--image{
    max-width:100%;
  }
}

.photo--image-size3,
.photo--image-size4,
.photo--image-size6,
.photo--image-size7{
  display:none;
}
@media screen and (min-width:654px) {
  .photo--image-size7{
    display:inline-block;
  }
}
@media screen and (min-width:560px) and (max-width:653px) {
  .photo--image-size6{
    display:inline-block;
  }
}
@media screen and (min-width:370px) and (max-width:559px) {
  .photo--image-size4{
    display:inline-block;
  }
}
@media screen and (min-width:1px) and (max-width:369px) {
  .photo--image-size3{
    display:inline-block;
  }
}